section {
  margin: 10px;
}

#footer {
  background: #000;

  padding: 0 0 30px 0;

  color: #eee;

  font-size: 14px;
}

#footer .footer-top {
  background: #111;

  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .foter-info h3 {
  font-size: 34px;

  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #f4511e;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;

  padding: 6px 8px;

  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #f4511e;

  border: 0;

  width: 35%;

  padding: 6px 0;

  text-align: center;

  color: #fff;

  transition: 0.3s;

  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;

  padding-top: 30px;
}

#footer .credits {
  text-align: center;

  font-size: 13px;

  color: #ddd;
}
